# Une approche m√©connue de l'analyse des DataFrames de Pandas

In [1]:
import pandas as pd

In [2]:
data = [['AED', 1132],
        ['USD', 315],
        ['INR', 700],
        ['EUR', 522],
        ['SGD', 261],
        ['GBP', 719],
        ['ARS',  97],
        ['AUD', 604],
        ['NZD', 411],
        ['AZN', 516],
        ['BRL', 712],
        ['GHS', 111]]

In [3]:
data = pd.DataFrame(data, columns = ["Currency", "Count"])

In [4]:
data.style.bar(color = 'lightgreen', subset = 'Count')

In [5]:
data.style.background_gradient(cmap = 'Blues', subset = 'Count')